/.idea
/age_category_GLM_freq.JPG
/age_cat_GLM_sev.JPG
/age_cat_XG_freq.JPG
/age_cat_XG_sev.JPG
/area_GLM_freq.JPG
/area_GLM_sev.JPG
/area_XG_freq.JPG
/area_XG_sev.JPG
/burn_cost_test_df2
/burn_cost_train_df2
/Gender_M_GLM_freq.JPG
/Gender_M_GLM_sev.JPG
/Gender_M_XG_freq.JPG
/Gender_M_XG_sev.JPG
/glm_explainer
/GLM_Freq.pkl
/GLM_Frequency.JPG
/GLM_Sev.pkl
/GLM_Severity.JPG
/k_explainer_sev
/k_shap_val.pkl
/k_shap_values_sev.pkl
/multiapp.py
/Onehot.pkl
/one_way_plot
/Sev_train_v4
/shap_explainer
/shap_explainer_sev
/test_df_sev_only_2
/train_df_sev_only_2
/train_shap_vals.pkl
/train_shap_vals_sev.pkl
/vehicle_age_GLM_freq.JPG
/vehicle_age_XG_freq.JPG
/vehicle_age_XG_sev.JPG
/vehicle_body_GLM_freq.JPG
/vehicle_body_GLM_sev.JPG
/vehicle_body_XG_freq.JPG
/vehicle_body_XG_sev.JPG
/wns.jpg
/WNS_logo.jpg
/XG_freq_lat1.pkl
/XG_Sev_lat1.pkl
/X_test_summary
/X_test_summary_sev
/X_train_freq_v4
/__pycache__